---
title: `opsmill.infrahub`
description: Collection of Infrahub Ansible plugins and roles
---

# `opsmill.infrahub`

Collection version {{ collection_version }}

## Description

Infrahub modules for Ansible using Ansible Collections

**Supported ansible-core versions:** {{ ansible_core_version }}

## Guides


## References

These are the plugins in the `opsmill.infrahub` collection:

#### Plugins

#### Inventory

<!-- vale off -->
{% for plugin in plugins.modules %}
- [{{ plugin.name }}](./references/plugins/{{ plugin.name }}_module){% if plugin.documentation.get('short_description') %} – {{ plugin.documentation.get('short_description') }}{% endif %}
{%- endfor %}
<!-- vale on -->

#### Inventory

{% for plugin in plugins.inventory %}
- [{{ plugin.name }}](./references/plugins/{{ plugin.name }}_inventory){% if plugin.documentation.get('short_description') %} – {{ plugin.documentation.get('short_description') }}{% endif %}
{% endfor %}

#### Lookup

{% for plugin in plugins.lookup %}
- [{{ plugin.name }}](./references/plugins/{{ plugin.name }}_lookup){% if plugin.documentation.get('short_description') %} – {{ plugin.documentation.get('short_description') }}{% endif %}
{% endfor %}

{% if roles %}

### Roles

These are the roles in the `opsmill.infrahub` collection:
{% for role in roles %}
- [{{ role.name }}](./references/roles/{{ role.name }}){% if role.description %} – {{ role.description }}{% endif %}
{% endfor %}

{% endif %}