---
title: opsmill.infrahub Ansible collection
---

Collection version {{ collection_version }}

## Collection overview

The OpsMill InfraHub Ansible Collection provides is intend to help interact with Infrahub through Ansible.

This Ansible collection consists of a set of modules and plugins designed to work seamlessly with your existing infrastructure, enabling you to define and enforce the desired state of your infrastructure with ease.

## Guides

To begin using the OpsMill InfraHub Ansible Collection, please follow our step-by-step guides:

* **[Installation Guide](./guides/installation.mdx)**: Learn how to install the collection, including Python module and Ansible setup, as well as alternative installation options.
* **[Dynamic Inventory Guide](./guides/dynamic-inventory.mdx)**: Discover how to leverage the collection's dynamic inventory features to streamline your infrastructure management.
* **[Query & Lookup Guide](./guides/query-and-lookup.mdx)**: Learn how to retrieve structured GraphQL data from Infrahub using Query and Lookup plugins.
* **[Create, Update and Delete Nodes Guide](./guides/node.mdx)**: Learn how to create, update and delete nodes in Infrahub using GraphQL action plugin or the node module.
* **[Manipulate Branch Guide](./guides/branch.mdx)**: Learn how to manipulate Branch in Infrahub.

## References

### Plugins

These are the plugins in the `opsmill.infrahub` collection:

#### Modules

<!-- vale off -->
{% for plugin in plugins.modules %}
* [{{ plugin.name }}](./references/plugins/{{ plugin.name }}_module.mdx){% if plugin.documentation.get('short_description') %} – {{ plugin.documentation.get('short_description') }}{% endif %}
{%- endfor %}

<!-- vale on -->

#### Inventory

{% for plugin in plugins.inventory %}* [{{ plugin.name }}](./references/plugins/{{ plugin.name }}_inventory.mdx){% if plugin.documentation.get('short_description') %} – {{ plugin.documentation.get('short_description') }}{% endif %}{% endfor %}

#### Lookup

{% for plugin in plugins.lookup %}* [{{ plugin.name }}](./references/plugins/{{ plugin.name }}_lookup.mdx){% if plugin.documentation.get('short_description') %} – {{ plugin.documentation.get('short_description') }}{% endif %}{% endfor %}

### Roles

These are the roles in the `opsmill.infrahub` collection:

{% for role in roles %}* [{{ role.name }}](./references/roles/{{ role.name }}.mdx){% if role.description %} – {{ role.description }}{% endif %}{% endfor %}
