[Unit]
Description=Infrahub backup
After=docker.service
Requires=docker.service
{% if backup_infrahub_on_failure is defined %}
OnFailure={{ backup_infrahub_on_failure }}
{% endif %}

[Service]
Type=oneshot
User={{ backup_infrahub_service_user }}
EnvironmentFile=-{{ backup_infrahub_env_file }}
ExecStart={{ backup_infrahub_bin_path }} {{ backup_infrahub_create_args | map('quote') | map('replace', '%', '%%') | join(' ') }}
